@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 100px;
  font-family: "Nunito", sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.foot {
  background-image: url("./assets/tools.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #31b0dd;
  -webkit-box-shadow: 0 0 0px 40rem red inset;
}
