@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-page {
  background-image: url(./assets/Heroimg.png);
  background-position: center;
  background-size: cover;
}
.about-baber1 {
  background-image: url(./assets/latinohairsalon1.png);
  background-position: center;
  background-size: cover;
}
.about-baber2 {
  background-image: url(./assets/mechanic.png);
  background-position: center;
  background-size: cover;
}
.vision {
  background-image: url(./assets/network.png);
  background-position: center;
  background-size: cover;
}
.mission {
  background-image: url(./assets/success.png);
  background-position: center;
  background-size: cover;
}
.tools {
  background-image: url(./assets/tools.png);
  background-position: center;
  background-size: cover;
}
.aboutus {
  background-image: url(./assets/aboutus.png);
  background-position: center;
  background-size: cover;
}
.toolstwo {
  background-image: url(./assets/tools2.png);
  background-position: center;
  background-size: cover;
}

.textA {
  font-size: 3rem;
  line-height: 1.2;
}

@media screen and (max-width: 1377px) {
  .textA {
    font-size: 2rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 920px) {
  .textA {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 920px) {
  .textA {
    font-size: 1.2rem;
    line-height: 1.2;
  }
}

.contact {
  background-image: url(./assets/telephone.png);
  background-position: center;
  background-size: cover;
}
.carousel-item {
  background-image: url(./assets/telephone.png);
  background-position: center;
  background-size: cover;
}
.cynthea {
  background-image: url(./assets/cynthea.png);
  background-position: center;
  background-size: cover;
}
.chima {
  background-image: url(./assets/chima.png);
  background-position: center;
  background-size: cover;
}
.scepter {
  background-image: url(./assets/scepter.png);
  background-position: center;
  background-size: cover;
}
.form {
  background-image: url(./assets/latinohairsalon.png);
  background-position: center;
  background-size: cover;
}
.customer-form {
  background-image: url(./assets/images/customer-artisan.webp);
  background-position: center;
  background-size: cover;
}
.contactpage {
  background-image: url(./assets/Modro.jpg);
  background-position: center;
  background-size: cover;
}
.radio {
  appearance: none;
}
.login {
  background-image: url(./assets//images/login.jpeg);
  background-position: center;
  background-size: cover;
}
/* Loader css */
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: rgb(255 118 0);
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

input:auto-fill {
  background-color: transparent !important;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: transparent !important;
  /* color: fieldtext !important; */
}

.fast-table tr:nth-child(even) {
  background: #f2f2f2 !important;
}

.table-header tr {
  background: #3498db;
  color: white;
}

.text-nowrap {
  text-wrap: nowrap;
}

.rt-BaseDialogContent {
  overflow: visible !important;
}
.react-datepicker-ignore-onclickoutside:focus {
  border: none !important;
  outline: none !important;
}

.react-datepicker-ignore-onclickoutside::selection {
  border: none !important;
  outline: none !important;
}

/* HTML: <div class="loader"></div> */

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #3498db;
  animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}

.loader::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}
